version: 2.1
orbs: 
  node: circleci/node@5.0.2
jobs:
  setup:
    executor:
      name: node/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "yarn.lock" }}
            - deps-
      - node/install-packages:
          pkg-manager: yarn
      - save_cache:
          key: deps-{{ checksum "yarn.lock" }}
          paths: 
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
            - '*'
  lint:
    executor:
      name: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint code
          command: yarn lint
  build:
    executor:
      name: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Build lib
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - 'dist'
  test-web:
    docker:
      - image: mcr.microsoft.com/playwright:v1.24.0-focal
    environment:
      NODE_ENV: development
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install browsers
          command: npx playwright install
      - run:
          name: Run tests
          command: yarn test-web
      - store_test_results:
          path: ./
  test-node:
    executor: node/default
    parameters:
      version:
        type: string
    steps:
      - attach_workspace:
          at: .
      - node/install:
          install-yarn: true
          node-version: << parameters.version >>
      - run:
          name: Validate Node version
          command: echo Testing on node $(node --version)
      - run:
          name: Run tests
          command: yarn test-node-ce
      - store_test_results:
          path: ./
  test-unit:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          command: yarn test-node-unit
      - store_test_results:
          path: ./
  release-pr:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install release-please
          command: yarn global add release-please
      - run:
          name: Create or update release PR
          command: release-please release-pr --token=${GH_TOKEN} --repo-url=sandworm-hq/sandworm-js
  github-release:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install release-please
          command: yarn global add release-please
      - run:
          name: Create release
          command: release-please github-release --token=${GH_TOKEN} --repo-url=sandworm-hq/sandworm-js
  publish-npm:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run: 
          name: Auth With NPM
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: Publish to NPM
          command: npm publish
        
workflows:
  test-n-publish:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - build:
          requires:
            - lint
      - test-unit:
          requires:
            - build
          filters:
            tags:
              ignore: /^v.*/
      - test-web:
          requires:
            - build
          filters:
            tags:
              ignore: /^v.*/
      - test-node:
          requires:
            - build
          filters:
            tags:
              ignore: /^v.*/
          matrix:
            parameters:
              version:
                - "10.14"
                - "10.24"
                - "11.15"
                - "12.0"
                - "12.13"
                - "12.22"
                - "13.14"
                - "14.0"
                - "14.15"
                - "14.19"
                - "15.0"
                - "15.14"
                - "16.0"
                - "16.13"
                - "16.16"
                - "17.0"
                - "17.9"
                # - "18.0"
                # - "18.4"
      - github-release:
          requires:
            - test-unit
            - test-web
            - test-node
          filters:
            branches:
              only: main
            tags:
              ignore: /^v.*/
      - release-pr:
          requires:
            - github-release
          filters:
            branches:
              only: main
            tags:
              ignore: /^v.*/
      - publish-npm:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
